@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<a asp-action="Create" class="btn btn-primary mb-3">Create</a>

<table class="table">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-action="Modify" asp-route-id="@category.Id">Modify</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                </td>
                <td>
                    @category.Name
                </td>
                <td>
                    @category.OperationTypeId.ToString()
                </td>
            </tr>
        }
    </tbody>
</table>