@model AccountType
@{
    ViewData["Title"] = "Account types";
}

<h1>Register Account Type </h1>
<h5>Account type refers to how we can group accounts.
     Examples: Loans, credit cards, etc.</h5>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Create">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"> </span>
    </div>
    <button type="submit" class="btn btn-primary" id=btnCreate>Create</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
               alert("@ViewBag.Message");
               window.location.href='/AccountTypes';

            };


        </script>
    }
}